<ion-header>
  <ion-toolbar color="main">
    <ion-title>individualEvent</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <img src="../../../../assets/test_img.jpg" />
    <ion-card-header>

      <ion-card-title>Continental Breakfast </ion-card-title>
      <ion-card-subtitle><strong>Category: </strong>  Dining</ion-card-subtitle>
      <ion-card-subtitle><strong>Start Time: </strong> Thu, 20 Feb 2020 08:00:00 GMT</ion-card-subtitle>
      <ion-card-subtitle><strong>End TIme: </strong>  Thu, 20 Feb 2020 08:00:00 GMT</ion-card-subtitle>
      <ion-card-subtitle><strong>Cost: </strong> 5000.0</ion-card-subtitle>

      
      
    </ion-card-header>
    <ion-card-content>
      Assasins' breakfast retreat
    </ion-card-content>
  </ion-card>

</ion-content>
