<ion-header>
  <ion-toolbar color="main">
    <ion-title>Events</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      All Events
    </ion-list-header>

    <ion-item *ngFor="let event of events">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>{{ event.title }}</h2>
        <h3>{{ event.description }}</h3>
        <div class="muted" style="display: flex;justify-content: space-between;">
          <p>{{ dateConvert(event.start_date) }}</p>
          <p>{{ dateConvert(event.start_date) }}</p>
        </div>
      </ion-label>
    </ion-item>

    <!-- <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-han.png">
      </ion-avatar>
      <ion-label>
        <h2>Continent Breakfast</h2>
        <h3>Assasin's breakfast retreat</h3>
        <div class="muted" style="display: flex;justify-content: space-between;">
          <p>D MMM YYYY H:mm</p>
          <p>D MMM YYYY H:mm</p>
        </div>
      </ion-label>
    </ion-item> -->

   
  </ion-list>

</ion-content>
