<ion-header>
  <ion-toolbar color="main">
    <ion-title>
      Users
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="searchActive=!searchActive">
        <ion-icon name="search" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar *ngIf="searchActive">
    <ion-searchbar></ion-searchbar>
  </ion-toolbar>
  
</ion-header>

<ion-content>

  <ion-list>
    <ion-list-header>
      All Users
    </ion-list-header>

    <ion-item *ngFor="let user of users">
      <ion-avatar slot="start">
        <img src="./avatar-finn.png">
      </ion-avatar>
      <ion-label>
        <h2>{{user.firstname}} {{user.lastname}}</h2>
        <h3>{{user.email}}</h3>
        <p>admin: {{ user.admin }}</p>
      </ion-label>
    </ion-item>

    
   
  </ion-list>

</ion-content>
